<div class="full-page-container">
  <div class="" style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">
    <div class="container h-vh d-flex justify-content-center align-items-center flex-column">
      <div class="d-flex justify-content-center align-items-center mb-3">
        <span> <!-- SVG Logo here --> </span>
        <h2 class="ml-2 text-bg mb-0"><strong>Authenticate</strong></h2>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="card card-login mb-3">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label>Username</label>
                <div class="input-group input-group--inline">
                  <div class="input-group-addon">
                    <i class="material-icons">account_circle</i>
                  </div>
                  <input type="text" class="form-control" formControlName="username" required>
                </div>
                <small class="text-danger" *ngIf="f['username'].touched && f['username'].invalid">Username is required</small>
              </div>
              <div class="form-group">
                <div class="d-flex">
                  <label>Password</label>
            <!--<span class="ml-auto"><a routerLink="/signup">Forgot password?</a></span>-->
                </div>
                <div class="input-group input-group--inline">
                  <div class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </div>
                  <input type="password" class="form-control" formControlName="password" required>
                </div>
                <small class="text-danger" *ngIf="f['password'].touched && f['password'].invalid">Password is required</small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <span class="mr-2">Don't have an account?</span>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>

  </div>
</div>
