<div class="full-page-container">
  <app-toast #toast></app-toast>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <div class="justify-content-center">
        <div class="card card-login">
          <div class="card-body">
            <h2 class="my-1 auth-form-title"><strong>Login</strong></h2>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form-box">
              <div class="form-group">
                <label>Username</label>
                <div class="input-group input-group--inline">
                  <div class="input-group-addon">
                    <i class="material-icons">account_circle</i>
                  </div>
                  <input type="text" class="form-control" formControlName="username" required>
                </div>
                <small class="text-danger" *ngIf="f['username'].touched && f['username'].invalid">Username is required</small>
              </div>
              <div class="form-group">
                <div class="d-flex">
                  <label>Password</label>
            <!--<span class="ml-auto"><a routerLink="/signup">Forgot password?</a></span>-->
                </div>
                <div class="input-group input-group--inline">
                  <div class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </div>
                  <input type="password" class="form-control" formControlName="password" required>
                </div>
                <small class="text-danger" *ngIf="f['password'].touched && f['password'].invalid">Password is required</small>
              </div>
              <br>
              <div class="text-center">
                <button type="submit" class="auth-button" [disabled]="!loginForm.valid">Login</button>
              </div>
              <div class="d-flex justify-content-center register">
                <p class="mr-2">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
